.about{
    margin-top: 120px;
}

.about-title {
    font-size: 2rem; /* 32px */
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
}

.about-container {
    display: flex;
    gap: 82px;
    margin-top: 64px;
}

.about-block {
    width: 607px;
    height: 374px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-block__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 473px;
    height: 209px;
}

.about-block__text {
    font-size: 16px;
    font-weight: 300;
    color: #FFFFFF;
    text-decoration: none;
}

.about-block__btn {
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
    text-decoration: none;
    line-height: 20px;
    width: 218px;
    height: 44px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #81BDFF, #5ED9FF);
    margin-bottom: 63px;
    cursor: pointer;
}
