.benefits {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: 198px;
    border-radius: 22px;
    border: 1px solid #DDDDDD12;
    margin-top: 112px;
    margin-bottom: 100px;
    background: #F2F2F205;
}

.benefits-container {
    display: flex;
    flex-direction: column;
}

.benefits-text {
    font-weight: 500;
    font-style: italic;
    font-size: 16px;
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    margin-top: 12px;
}

.benefits-block {
    width: 174px;
    height: 120px;
    border-radius: 26px;
    background: #7EBBFF0F;
    border: 1px solid #7EBBFF33;

    display: flex;
    justify-content: center;
    align-items: center;
}

